
/* ADD WAY TO GET BACK HOME */

body {
	background-color: #fbc73b;
}

#goBack {
	font-family: arcaderegular;
	text-align: center;
}

#scoreWrapper {
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
}

#container-fluid {
	margin-left: 20px;
	display: flex;
}

#Score, #hScores {
	font-size: 30px;
	font-family: arcaderegular;
	color: black;
}

#score {
	flex: 0, 0, 65%;
}

#hScores {
	flex: 1;
	padding-left: 180px;
	color: black;
}

#game {
	position: relative;
	flex: 0, 0, 65%;
}

#pause {
	position: absolute;
	top: 300px;
	left: 110px;
	font-family: arcaderegular;
	font-size: 100px;
	color: black;
}

#gOver {
	position: absolute;
	top: 300px;
	left: 35px;
	font-family: arcaderegular;
	font-size: 100px;
	color: black;
}

#gOverText {
	position: absolute;
	top: 420px;
	left: 155px;
	font-size: 30px;
	color: white;
}

#gOverEsc {
	position: absolute;
	top: 465px;
	left: 135px;
	font-size: 30px;
	color: white;
}


#info {
	flex: 1;
	text-align: center;
	padding-left: 20px;
}

h1 {
	font-family: arcaderegular;
	color: black;
	text-decoration: underline;
}

#info p {
	color: white;
}

@font-face {
    font-family: 'arcaderegular';
    src: url('./assets/arcade-webfont.woff2') format('woff2'),
         url('./assets/arcade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}